In [31]:
import pandas as pd
import numpy as np

from random import randrange

from sklearn.metrics import confusion_matrix, classification_report

# Data Training

In [32]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
df = pd.read_csv(r"C:\Users\Allan\Desktop\Artificial-Neural-Network\Single-Layer-Perceptron\data\train_data_cl.csv", header=None, names=list(range(13)))
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,NaN
1,1,0,3,Braund,Mr. Owen Harris,male,22,1,0,A/5 21171,7.25,NaN,S
2,2,1,1,Cumings,Mrs. John Bradley (Florence Briggs Thayer),female,38,1,0,PC 17599,712.833,C85,C
3,3,1,3,Heikkinen,Miss. Laina,female,26,0,0,STON/O2. 3101282,7.925,NaN,S
4,4,1,1,Futrelle,Mrs. Jacques Heath (Lily May Peel),female,35,1,0,113803,53.1,C123,S

## Data Preprocessing

In [33]:
### Benerin column
col_name = df.iloc[0,:12].values
col_name = np.insert(col_name, 4, "FirstName")

df.columns = col_name
df = df.drop(0).reset_index(drop=True)

df.head()
### Merge Name dan FirstName
df["Name"] = df["FirstName"] + " " + df["Name"]
df = df.drop("FirstName", axis=1)
df
### Perbaikan data yang tidak sesuai

print(df['Sex'].unique().tolist())
true_sex_val = ['male', 'female']
count = 0
for val in df["Sex"].values:
    if val not in true_sex_val:
        df.loc[count, 'Sex'] = np.random.choice(true_sex_val)
    count += 1
print(df['Sex'].unique().tolist())

count = 0
for val in df['Fare'].values:
    try:
        float(val)
    except ValueError:
        df.loc[count, 'Fare'] = 0
    count += 1

count = 0
for val in df['Parch'].values:
    if len(val) > 1:
        df.loc[count, 'Parch'] = 0
    count += 1

['male', 'female', '15', '27', '9', '36.5', '16', '40', '45', '24', '18', '20.5', '8', '26', '3', '1', '19', '21', '36', '22', '48', '49', '35', '39', '6']
['male', 'female']

In [34]:
### Encode
lbenc = LabelEncoder()

for i in df.columns.values:
    if df[i].dtypes == 'string':
        df[i] = lbenc.fit_transform(df[i])

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,Mr. Owen Harris Braund,male,22,1,0,A/5 21171,7.25,NaN,S
1,2,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cu...,female,38,1,0,PC 17599,712.833,C85,C
2,3,1,3,Miss. Laina Heikkinen,female,26,0,0,STON/O2. 3101282,7.925,NaN,S
3,4,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35,1,0,113803,53.1,C123,S
4,5,0,3,Mr. William Henry Allen,male,35,0,0,373450,8.05,NaN,S

In [35]:
### Change Data Type
df.info()
df = df.astype({'PassengerId': 'int64', 'Survived': 'int64', 'Pclass': 'int64', 'SibSp': 'int64', 'Parch': 'int64'})
df = df.astype({'Name': 'string', 'Sex': 'string', 'Ticket': 'string', 'Cabin': 'string', 'Embarked': 'string'})
df = df.astype({'Age': 'float64', 'Fare': 'float64'})
df.info()
### Menghilangkan Column yang tidak dipakai
del df['Name']
del df['Ticket']
del df['Cabin']
### Cek & Replace Missing Value
missing = pd.DataFrame({
    'total' : df.isnull().sum(),
    'percent' : df.isnull().sum()/df.shape[0] * 100})

missing
df['Embarked'] = df['Embarked'].fillna(value=np.random.choice(df['Embarked'].unique().tolist()))
df['Fare'] = df['Fare'].fillna(value=0)
df.isna().sum()
clean_data = df.copy()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 712 entries, 0 to 711
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  712 non-null    object
 1   Survived     712 non-null    object
 2   Pclass       712 non-null    object
 3   Name         712 non-null    object
 4   Sex          712 non-null    object
 5   Age          712 non-null    object
 6   SibSp        712 non-null    object
 7   Parch        712 non-null    object
 8   Ticket       712 non-null    object
 9   Fare         685 non-null    object
 10  Cabin        210 non-null    object
 11  Embarked     677 non-null    object
dtypes: object(12)
memory usage: 66.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 712 entries, 0 to 711
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  712 non-null    int64
 1   Survived     712 non-null    int64
 2   Pclass       712 non-null    int64
 3   Name         712 non-null    string
 4   Sex          712 non-null    string
 5   Age          712 non-null    float64
 6   SibSp        712 non-null    int64
 7   Parch        712 non-null    int64
 8   Ticket       712 non-null    string
 9   Fare         685 non-null    float64
 10  Cabin        210 non-null    string
 11  Embarked     677 non-null    string
dtypes: float64(2), int64(5), string(5)
memory usage: 66.9 KB

In [36]:
## Encode
lbenc = LabelEncoder()

for i in df.columns.values:
    if df[i].dtypes == 'string':
        df[i] = lbenc.fit_transform(df[i])

df.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0            1         0       3    1  22.0      1      0    7.250         2
1            2         1       1    0  38.0      1      0  712.833         0
2            3         1       3    0  26.0      0      0    7.925         2
3            4         1       1    0  35.0      1      0   53.100         2
4            5         0       3    1  35.0      0      0    8.050         2

In [37]:
### Split Feature and Label
train = df.copy()
x_train = train.iloc[:, 2:].values
y_train = df.iloc[:, 1].values
train

     PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0              1         0       3    1  22.0      1      0    7.250         2
1              2         1       1    0  38.0      1      0  712.833         0
2              3         1       3    0  26.0      0      0    7.925         2
3              4         1       1    0  35.0      1      0   53.100         2
4              5         0       3    1  35.0      0      0    8.050         2
..           ...       ...     ...  ...   ...    ...    ...      ...       ...
707          886         0       3    0  39.0      0      5   29.125         1
708          887         0       2    1  27.0      0      0   13.000         2
709          888         1       1    0  19.0      0      0   30.000         2
710          890         1       1    1  26.0      0      0   30.000         0
711          891         0       3    1  32.0      0      0    7.750         1

[712 rows x 9 columns]

In [38]:
### Normalisasi
feature = x_train.copy()
label = y_train.copy()
label = label.reshape(-1,1)
passengerId = train.iloc[:, 0].values.reshape(-1,1)
col = train.columns.values.tolist()
col.pop(1)
col.append("Survived")

mnmx = MinMaxScaler()
feature = mnmx.fit_transform(feature)

data = np.concatenate((passengerId, feature), axis=1)
dataLabel = np.concatenate((data, label), axis=1)
normalize_data_train = pd.DataFrame(dataLabel, columns=col)

normalize_data_train = normalize_data_train.astype({'PassengerId': 'int64', 'Survived': 'int64'})
normalize_data_train

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Survived
0,1,1.0,1.0,0.2750,0.2,0.000000,0.007960,1.0,0
1,2,0.0,0.0,0.4750,0.2,0.000000,0.782652,0.0,1
2,3,1.0,0.0,0.3250,0.0,0.000000,0.008701,1.0,1
3,4,0.0,0.0,0.4375,0.2,0.000000,0.058301,1.0,1
4,5,1.0,1.0,0.4375,0.0,0.000000,0.008838,1.0,0
...,...,...,...,...,...,...,...,...,...
707,886,1.0,0.0,0.4875,0.0,0.833333,0.031978,0.5,0
708,887,0.5,1.0,0.3375,0.0,0.000000,0.014273,1.0,0
709,888,0.0,0.0,0.2375,0.0,0.000000,0.032938,1.0,1
710,890,0.0,1.0,0.3250,0.0,0.000000,0.032938,0.0,1
711,891,1.0,1.0,0.4000,0.0,0.000000,0.008509,0.5,0

# Data Testing

In [39]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder, MinMaxScaler

dt = pd.read_csv(
    r"C:\Users\Allan\Desktop\Artificial-Neural-Network\Single-Layer-Perceptron\data\test_data_cl.csv",
    header=None,
    names=list(range(12)),
)

gdt = pd.read_csv(
    r"C:\Users\Allan\Desktop\Artificial-Neural-Network\Single-Layer-Perceptron\data\test_data_GroundTruth_cl.csv"
)
dt = dt.head(331)
dt

col_name = dt.iloc[0, :11].values
col_name = np.insert(col_name, 3, "FirstName")

dt.columns = col_name
dt = dt.drop(0).reset_index(drop=True)
dt

dt["Name"] = dt["FirstName"] + " " + dt["Name"]
dt = dt.drop("FirstName", axis=1)
dt

print(dt["Sex"].unique().tolist())
true_sex_val = ["male", "female"]
count = 0
for val in dt["Sex"].values:
    if val not in true_sex_val:
        dt.loc[count, "Sex"] = np.random.choice(true_sex_val)
    count += 1
print(dt["Sex"].unique().tolist())

count = 0
for val in dt["Fare"].values:
    try:
        float(val)
    except ValueError:
        dt.loc[count, "Fare"] = 0
    count += 1

count = 0
for val in dt["Parch"].values:
    if len(val) > 1:
        dt.loc[count, "Parch"] = 0
    count += 1

dt.info()

dt = dt.astype(
    {"PassengerId": "int64", "Pclass": "int64", "SibSp": "int64", "Parch": "int64"}
)
dt = dt.astype(
    {
        "Name": "string",
        "Sex": "string",
        "Ticket": "string",
        "Cabin": "string",
        "Embarked": "string",
    }
)
dt = dt.astype({"Age": "float64", "Fare": "float64"})
dt.info()

del dt["Name"]
del dt["Ticket"]
del dt["Cabin"]

missing = pd.DataFrame(
    {"total": dt.isnull().sum(), "percent": dt.isnull().sum() / dt.shape[0] * 100}
)

missing

dt["Embarked"] = dt["Embarked"].fillna(
    value=np.random.choice(dt["Embarked"].unique().tolist())
)
dt["Fare"] = dt["Fare"].fillna(value=0)
dt.isna().sum()

['male', 'female', '45', '18.5', '36', '20', '16', '42', '29', '30', '46', '19', '0.17', '22', '21']
['male', 'female']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  330 non-null    object
 1   Pclass       330 non-null    object
 2   Name         330 non-null    object
 3   Sex          330 non-null    object
 4   Age          330 non-null    object
 5   SibSp        330 non-null    object
 6   Parch        330 non-null    object
 7   Ticket       330 non-null    object
 8   Fare         317 non-null    object
 9   Cabin        100 non-null    object
 10  Embarked     316 non-null    object
dtypes: object(11)
memory usage: 28.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  330 non-null    int64
 1   Pclass       330 non-null    int64
 2   Name         330 non-null    string
 3   Sex          330 non-null    string
 4   Age          330 non-null    float64
 5   SibSp        330 non-null    int64
 6   Parch        330 non-null    int64
 7   Ticket       330 non-null    string
 8   Fare         317 non-null    float64
 9   Cabin        100 non-null    string
 10  Embarked     316 non-null    string
dtypes: float64(2), int64(4), string(5)
memory usage: 28.5 KB

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

In [40]:
lbenc = LabelEncoder()

for col in dt.columns.values:
    if dt[col].dtype == "string":
        dt[col] = lbenc.fit_transform(dt[col])

dt.head()

merged_test_data = pd.merge(dt, gdt, on="PassengerId")
merged_test_data

     PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  Survived
0            892       3    1  34.5      0      0   78.292         1         0
1            893       3    0  47.0      1      0    7.000         2         1
2            894       2    1  62.0      0      0   96.875         1         0
3            895       3    1  27.0      0      0   86.625         2         0
4            896       3    0  22.0      1      1  122.875         2         1
..           ...     ...  ...   ...    ...    ...      ...       ...       ...
325         1299       1    1  50.0      1      1  211.500         0         0
326         1301       3    0   3.0      1      1   13.775         2         1
327         1303       1    0  37.0      1      0   90.000         1         1
328         1304       3    0  28.0      0      0    7.775         2         1
329         1306       1    0  39.0      0      0  108.900         0         1

[330 rows x 9 columns]

In [41]:
test = merged_test_data.copy()

X_test = test.iloc[:, 1:8]
y_test = test.iloc[:, 8]

feature = X_test.copy()
label = y_test.copy().values.reshape(-1, 1)
passengerId = test.iloc[:, 0].values.reshape(-1, 1)

col = test.columns.values.tolist()
col.pop(8) 

mnmx = MinMaxScaler()
feature = mnmx.fit_transform(feature)

data = np.concatenate((passengerId, feature), axis=1)
normalize_data_test = pd.DataFrame(data, columns=col)

normalize_data_test['Survived'] = y_test.values

normalize_data_test.drop('PassengerId', axis=1, inplace=True)
normalize_data_test = normalize_data_test.astype({"Survived": "int64"})

X_test_normalized = normalize_data_test.iloc[:, :-1].values
y_test = normalize_data_test.iloc[:, -1].values 

normalize_data_test

     Pclass  Sex       Age  SibSp     Parch      Fare  Embarked  Survived
0       1.0  1.0  0.453947  0.000  0.000000  0.094148       0.5         0
1       1.0  0.0  0.618421  0.125  0.000000  0.008418       1.0         1
2       0.5  1.0  0.815789  0.000  0.000000  0.116495       0.5         0
3       1.0  1.0  0.355263  0.000  0.000000  0.104169       1.0         0
4       1.0  0.0  0.289474  0.125  0.166667  0.147760       1.0         1
..      ...  ...       ...    ...       ...       ...       ...       ...
325     0.0  1.0  0.657895  0.125  0.166667  0.254334       0.0         0
326     1.0  0.0  0.039474  0.125  0.166667  0.016565       1.0         1
327     0.0  0.0  0.486842  0.125  0.000000  0.108227       0.5         1
328     1.0  0.0  0.368421  0.000  0.000000  0.009350       1.0         1
329     0.0  0.0  0.513158  0.000  0.000000  0.130955       0.0         1

[330 rows x 8 columns]

In [42]:
dimensi = f'dimensi x_train\t: {x_train.shape}\ndimensi x_test\t: {X_test_normalized.shape}\ndimensi y_train\t: {y_train.shape}\ndimensi y_test\t: {y_test.shape}\n'
print(dimensi)

dimensi x_train	: (712, 7)
dimensi x_test	: (330, 7)
dimensi y_train	: (712,)
dimensi y_test	: (330,)

### Model 1

In [43]:
class SingleLayerPerceptron:
    def __init__(self, input_size, learning_rate=0.1, epochs=100):
        self.weights = np.zeros(input_size + 1)  # Additional weight for bias
        self.learning_rate = learning_rate
        self.epochs = epochs

    def _activation_function(self, x):
        # Using a simple step function as the activation function
        return 1 if x >= 0 else 0

    def _predict(self, inputs):
        summation = np.dot(inputs, self.weights[1:]) + self.weights[0]
        return self._activation_function(summation)

    def _calculate_accuracy(self, X, y):
        predictions = self.predict(X)
        accuracy = np.mean(predictions == y)
        return accuracy * 100

    def train(self, X_train, y_train, X_test, y_test):
        for epoch in range(self.epochs):
            for inputs, label in zip(X_train, y_train):
                prediction = self._predict(inputs)
                error = label - prediction

                # Update weights
                self.weights[1:] += self.learning_rate * error * inputs
                self.weights[0] += self.learning_rate * error

            # Calculate training accuracy at each epoch
            training_accuracy = self._calculate_accuracy(X_train, y_train)
            print(f"Epoch {epoch + 1}/{self.epochs}: Training Accuracy = {training_accuracy:.2f}%")

        # Print final training accuracy
        final_training_accuracy = self._calculate_accuracy(X_train, y_train)
        print(f"\nFinal Training Accuracy = {final_training_accuracy:.2f}%")

        # Print test accuracy
        test_accuracy = self._calculate_accuracy(X_test, y_test)
        print(f"Test Accuracy = {test_accuracy:.2f}%")

    def predict(self, X_test):
        predictions = [self._predict(inputs) for inputs in X_test]
        return np.array(predictions)

In [44]:
input_size = x_train.shape[1]
perceptron = SingleLayerPerceptron(input_size)
perceptron.train(x_train, y_train, X_test_normalized, y_test)

Epoch 1/100: Training Accuracy = 55.20%
Epoch 2/100: Training Accuracy = 62.50%
Epoch 3/100: Training Accuracy = 61.66%
Epoch 4/100: Training Accuracy = 59.55%
Epoch 5/100: Training Accuracy = 59.97%
Epoch 6/100: Training Accuracy = 58.57%
Epoch 7/100: Training Accuracy = 63.90%
Epoch 8/100: Training Accuracy = 59.41%
Epoch 9/100: Training Accuracy = 60.11%
Epoch 10/100: Training Accuracy = 59.13%
Epoch 11/100: Training Accuracy = 58.71%
Epoch 12/100: Training Accuracy = 60.11%
Epoch 13/100: Training Accuracy = 60.11%
Epoch 14/100: Training Accuracy = 60.39%
Epoch 15/100: Training Accuracy = 60.39%
Epoch 16/100: Training Accuracy = 60.53%
Epoch 17/100: Training Accuracy = 59.69%
Epoch 18/100: Training Accuracy = 60.53%
Epoch 19/100: Training Accuracy = 60.53%
Epoch 20/100: Training Accuracy = 60.53%
Epoch 21/100: Training Accuracy = 59.69%
Epoch 22/100: Training Accuracy = 62.08%
Epoch 23/100: Training Accuracy = 60.11%
Epoch 24/100: Training Accuracy = 61.24%
Epoch 25/100: Training Accuracy = 60.11%
Epoch 26/100: Training Accuracy = 62.22%
Epoch 27/100: Training Accuracy = 60.96%
Epoch 28/100: Training Accuracy = 59.83%
Epoch 29/100: Training Accuracy = 60.11%
Epoch 30/100: Training Accuracy = 60.11%

Epoch 31/100: Training Accuracy = 60.25%
Epoch 32/100: Training Accuracy = 60.67%
Epoch 33/100: Training Accuracy = 61.24%
Epoch 34/100: Training Accuracy = 61.10%
Epoch 35/100: Training Accuracy = 60.81%
Epoch 36/100: Training Accuracy = 51.12%
Epoch 37/100: Training Accuracy = 63.34%
Epoch 38/100: Training Accuracy = 50.84%
Epoch 39/100: Training Accuracy = 61.38%
Epoch 40/100: Training Accuracy = 61.66%
Epoch 41/100: Training Accuracy = 63.48%
Epoch 42/100: Training Accuracy = 61.52%
Epoch 43/100: Training Accuracy = 50.84%
Epoch 44/100: Training Accuracy = 62.08%
Epoch 45/100: Training Accuracy = 62.36%
Epoch 46/100: Training Accuracy = 66.71%
Epoch 47/100: Training Accuracy = 65.73%
Epoch 48/100: Training Accuracy = 61.94%
Epoch 49/100: Training Accuracy = 63.90%
Epoch 50/100: Training Accuracy = 51.54%
Epoch 51/100: Training Accuracy = 64.19%
Epoch 52/100: Training Accuracy = 63.06%
Epoch 53/100: Training Accuracy = 61.66%
Epoch 54/100: Training Accuracy = 63.76%
Epoch 55/100: Training Accuracy = 63.06%
Epoch 56/100: Training Accuracy = 61.66%
Epoch 57/100: Training Accuracy = 67.42%
Epoch 58/100: Training Accuracy = 64.33%
Epoch 59/100: Training Accuracy = 62.78%
Epoch 60/100: Training Accuracy = 67.13%
Epoch 61/100: Training Accuracy = 63.34%
Epoch 62/100: Training Accuracy = 51.97%
Epoch 63/100: Training Accuracy = 71.07%
Epoch 64/100: Training Accuracy = 70.65%
Epoch 65/100: Training Accuracy = 66.71%
Epoch 66/100: Training Accuracy = 67.42%
Epoch 67/100: Training Accuracy = 66.85%
Epoch 68/100: Training Accuracy = 71.21%
Epoch 69/100: Training Accuracy = 51.97%
Epoch 70/100: Training Accuracy = 67.56%
Epoch 71/100: Training Accuracy = 71.91%
Epoch 72/100: Training Accuracy = 70.65%
Epoch 73/100: Training Accuracy = 52.95%
Epoch 74/100: Training Accuracy = 67.28%
Epoch 75/100: Training Accuracy = 70.37%
Epoch 76/100: Training Accuracy = 70.93%
Epoch 77/100: Training Accuracy = 71.21%
Epoch 78/100: Training Accuracy = 69.80%
Epoch 79/100: Training Accuracy = 70.93%
Epoch 80/100: Training Accuracy = 70.51%
Epoch 81/100: Training Accuracy = 71.07%
Epoch 82/100: Training Accuracy = 70.79%
Epoch 83/100: Training Accuracy = 72.05%
Epoch 84/100: Training Accuracy = 74.30%
Epoch 85/100: Training Accuracy = 71.35%
Epoch 86/100: Training Accuracy = 71.07%
Epoch 87/100: Training Accuracy = 69.10%
Epoch 88/100: Training Accuracy = 70.08%
Epoch 89/100: Training Accuracy = 76.40%
Epoch 90/100: Training Accuracy = 72.89%
Epoch 91/100: Training Accuracy = 69.94%
Epoch 92/100: Training Accuracy = 71.77%
Epoch 93/100: Training Accuracy = 71.07%
Epoch 94/100: Training Accuracy = 70.93%
Epoch 95/100: Training Accuracy = 66.43%
Epoch 96/100: Training Accuracy = 52.39%
Epoch 97/100: Training Accuracy = 73.74%
Epoch 98/100: Training Accuracy = 63.62%
Epoch 99/100: Training Accuracy = 72.75%
Epoch 100/100: Training Accuracy = 63.34%

Final Training Accuracy = 63.34%
Test Accuracy = 97.58%

In [46]:
predictions = perceptron.predict(X_test_normalized)
print(predictions)

[0 1 0 0 1 0 1 0 1 0 0 1 0 1 1 0 0 1 0 0 0 0 1 0 1 0 0 0 0 1 0 1 1 0 0 0 1
 1 0 0 1 0 0 0 1 1 0 0 0 1 0 0 0 1 0 1 0 0 1 1 0 1 0 1 0 1 0 1 0 0 0 1 1 0
 1 1 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1 1 1 0 1 0 1 1 1 0 1 0 0 0 0 0 0 0 0 0 1
 0 1 1 0 0 0 0 0 0 1 1 0 0 1 1 0 1 0 1 0 1 0 0 1 0 0 0 1 1 0 1 1 0 0 1 1 0
 1 0 0 0 0 0 0 0 0 1 0 0 0 1 0 1 0 1 0 0 0 1 1 0 0 1 1 0 1 0 1 0 0 0 0 1 0
 0 0 0 0 1 1 1 1 0 0 1 0 1 1 0 0 0 0 0 1 0 0 0 1 1 0 0 0 1 1 0 0 0 0 1 0 1
 1 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 1 0 0 1 1 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0
 1 0 0 0 0 0 0 0 0 0 1 1 0 1 0 1 1 0 0 0 1 0 1 1 0 1 1 0 1 0 1 0 0 1 0 0 1
 1 1 1 0 0 0 1 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 0 0 0 0 1 1 1 1]